/* define layout of the whole page */
div.page-wrapper {
  margin: 50px auto;
  max-width: 850px;
}

/* define layout of the weather app */
div.content {
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  padding: 20px;
}

.accent-color {
  color: rgb(72, 167, 242);
}

.location-container {
  padding: 25px 0;
}

.location {
  text-align: center;
}

.location .city {
  font-size: 36px;
  font-weight: 900;
}

.location .temperature {
  font-size: 24px;
}

.location .weather-icon {
  display: block;
  font-size: 48px;
}

.location .active {
  color: rgb(72, 167, 242);
  cursor: default;
}

.location .active:hover {
  text-decoration: none;
}

.location .inactive {
  color: black;
}

.timestamp-container {
  color: rgb(100, 100, 100);
}

/* styling of the forecast panels */

.forecast {
  text-align: center;
}

.forecast .weather-icon {
  display: block;
  font-size: 36px;
}

.forecast .temperature {
  color: rgb(147, 154, 168);
}

/* align */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
