/* define layout of the whole page */
div.content {
  margin: 0 auto;
  margin-top: 50px;
  width: 600px;
}

.accent-color {
  color: rgb(72, 167, 242);
}

.location-container {
  padding: 25px 0;
}

.location {
  text-align: center;
}

.location .city {
  font-size: 36px;
  font-weight: 900;
}

.location .temperature {
  font-size: 24px;
}

.location .weather-icon {
  display: block;
  font-size: 48px;
}

/* styling of the forecast panels */

.forecast {
  text-align: center;
}

.forecast .weather-icon {
  display: block;
  font-size: 36px;
}

.forecast .temperature {
  color: rgb(147, 154, 168);
}
